set editing-mode vi
"\e[A":history-search-backward
"\e[B":history-search-forward
$if Python
    set editing-mode emacs
$endif
set keymap vi-command
"\e[A":history-search-backward
"\e[B":history-search-forward
Control-a: beginning-of-line
Control-e: end-of-line

set keymap vi-insert
"\e[A":history-search-backward
"\e[B":history-search-forward
Control-a: beginning-of-line
Control-e: end-of-line
